@use "@angular/material" as mat;



$ngcloud-light-primary: mat.define-palette(mat.$deep-purple-palette);
$ngcloud-light-accent: mat.define-palette(mat.$amber-palette);
$ngcloud-light-warn: mat.define-palette(mat.$red-palette);

// $ngcloud-light-background: linear-gradient(180deg, rgb(146, 146, 146) 0%, rgba(255,255,255,1) 100%);
$ngcloud-light-background: rgb(218, 15, 15);


$ngcloud-light-theme: mat.define-light-theme((
 color: (
   primary: $ngcloud-light-primary,
   accent: $ngcloud-light-accent,
   warn: $ngcloud-light-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($ngcloud-light-theme);



// @include mat.core-theme($ngcloud-light-theme);
// @include mat.button-theme($ngcloud-light-theme);
// @include mat.sidenav-theme($ngcloud-light-theme);
// @include mat.menu-theme($ngcloud-light-theme);
// @include mat.icon-theme($ngcloud-light-theme);
