
<div fxLayout="column" class="info-container p-2">
    <mat-toolbar fxLayoutAlign="center">
        <div fxLayout="column" class="file-type-icon pt-2">
            <mat-icon>info</mat-icon>
        </div>
        <div fxLayout="column" class="pt-2">
            <h3 class="text-start text-wrap">Example file Example file Example file Example file.txt</h3>
        </div>
        <div fxLayout="column">
            <button mat-icon-button mat-medium-icon-button color="primary" (click)="toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>



<!-- <div fxLayout class="info-container">
    <div fxFlex fxLayout="column" class="p-4">
        <div fxLayoutAlign="space-between start" fxLayoutGap="3%">
            
            <div fxLayout="column" class="pt-3">
                <mat-icon>info</mat-icon>
            </div>
            <div fxLayout="column" class="pt-3">
                <h3 class="text-start text-wrap">Example file Example file Example file Example file.txt</h3>
            </div>
            <div fxLayout="column">
                <button mat-icon-button mat-medium-icon-button color="primary" (click)="toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            
        </div>
    </div>

</div> -->
