@use '../../../../styles/variables' as vars;

.sidebar-toolbar {
    padding: 0.2em 1em;
    height: vars.$toolbar-height;
    // max-height: 2 * vars.$toolbar-height;
}

.selected-element-title {
    display: inline-block;
    width: 205px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}