<div fxLayout="column" class="mat-typography">
  
  <mat-toolbar>
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>New
    </button>
  </mat-toolbar>

  <ul fxLayout="column" fxLayoutGap="0.5em">
    <li matRipple fxLayoutAlign="start center"><mat-icon color="primary" class="material-icons-outlined" matListItemIcon>folder</mat-icon><span>My Drive</span></li>
    <li matRipple fxLayoutAlign="start center"><mat-icon color="primary" class="material-icons-outlined" matListItemIcon>folder_shared</mat-icon><span>Shared with me</span></li>
    <li matRipple fxLayoutAlign="start center"><mat-icon color="primary" class="material-icons-outlined" matListItemIcon>schedule</mat-icon><span>Recent</span></li>
    <li matRipple fxLayoutAlign="start center"><mat-icon color="primary" matListItemIcon>star_outline</mat-icon><span>Starred</span></li>
    <li matRipple fxLayoutAlign="start center"><mat-icon color="primary" class="material-icons-outlined" matListItemIcon>delete</mat-icon><span>Bin</span></li>
    <li matRipple fxLayoutAlign="start center"><mat-icon color="primary" class="material-icons-outlined" matListItemIcon>cloud</mat-icon><span>Storage</span></li>
   </ul>
</div>
 

<mat-menu #menu="matMenu">
  <button mat-menu-item><mat-icon>create_new_folder</mat-icon>New folder</button>
  <mat-divider></mat-divider>
  <button mat-menu-item><mat-icon>upload_file</mat-icon>File upload</button>
  <button mat-menu-item><mat-icon>drive_folder_upload</mat-icon>Folder upload</button>
</mat-menu>
  