<div fxLayout="column">

    <!-- Toolbar -->
    <mat-toolbar fxLayoutAlign="space-between center">

        <h2>NgCloud</h2>

        <div fxLayoutAlign="end center">
            <button
                mat-icon-button
                (click)="toggleDarkTheme()"
                class="theme-toggle"
                aria-label="Toggle Dark Theme"
                >
                <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
            </button>
            <button mat-icon-button >
                <mat-icon>apps</mat-icon>
            </button>
            <button mat-flat-button color="primary" *ngIf="(authService.authData | async) != null" (click)="logout()">Logout</button>
        </div>

    </mat-toolbar>
    <!-- Toolbar -->

    <!-- Drawer -->
    <mat-drawer-container class="drive-container">

        <mat-drawer opened mode="side" class="drive-sidenav">
            <app-drive-sidenav></app-drive-sidenav>
        </mat-drawer>

        <div fxLayout="column" class="drive-router-outlet-container">
            <router-outlet></router-outlet>
        </div>

        <mat-drawer 
            fxLayout="column"
            [opened]="infoBarOpened"
            mode="side"
            position="end"
            class="drive-sidebar">
            <app-info-sidebar></app-info-sidebar>
        </mat-drawer>

    </mat-drawer-container>
    <!-- Drawer -->

</div>