/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
    background-color: transparent;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// global.scss
// @import your Angular Material theme before!
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/mat-icon-button-sizes/styles/mat-icon-button-sizes";