
<mat-card fxLayout="column" class="my-drive-container">
    <app-my-drive-toolbar></app-my-drive-toolbar>
    <router-outlet></router-outlet>
    <!-- <app-file-explorer
        [fileElements]="fileElements | async"
        [path]="currentPath"
        [canNavigateUp]="canNavigateUp"
        (folderAdded)="addFolder($event)"
        (elementRemoved)="removeElement($event)"
        (navigatedDown)="navigateToFolder($event)"
        (navigatedUp)="navigateUp()"
        (elementRenamed)="renameElement($event)"
        (elementMoved)="moveElement($event)"
    ></app-file-explorer> -->
    <!-- <mat-card-content>
        Hello!
    </mat-card-content> -->
</mat-card>

<div fxLayout="column">
    <!-- <app-my-drive-list-view></app-my-drive-list-view> -->

</div>

